<article class="border m-2 p-2">
	<div class="d-flex justify-content-between align-items-center">

		<h2 class="display-4">{{title}}</h2>
		<h3 class="display-6 post-credits">Created on {{format_date createdAt}}</h3>
	</div>

	<div>
		<p>{{post_content}}</p>
	</div>

	<button class="btn btn-success">Edit</button>
	<button
		onclick="deleteFormHandler()"
		class="btn btn-danger delete-post-btn"
		data-post-id="{{id}}"
	>Delete</button>
</article>