#post-content {
	width: 85vw;
}

.post-list li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

#comment-text-area {
	width: 80vw;
}

.comment-header {
	font-size: 1.5rem;
}

.post-credits {
	font-size: 2rem;
}
